{
  "overrides": [
    {
      "files": ["**/tsconfig.lib.json"],
      "parser": "@typescript-eslint/parser",
      "extends": ["plugin:@typescript-eslint/recommended"],
      "parserOptions": {
        "project": "./tsconfig.base.json"
      }
    }
  ]
}
